<main class="main">

<div class="main__logo">
   <div class="main__logo__left">
       <h1 class="main__logo__left__h1">EBRD</h1>
   </div>
   <div class="main__logo__right">
    <h1 class="main__logo__left__h1">AVNOC</h1>
   </div>
</div>
<section class="main__channelList">

<div class="main__channelList__program">
    <span class="main__channelList__program__title">PC 1</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">PC 2</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">PC 3</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">PC 4</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 1</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 2</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 3</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 4</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 5</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IPTV Player 6</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">Room Booking</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">IP Spotter Camera</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">Remote Camera</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">Digital Signage</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">Broadcast</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">Event Manager</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">...</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">...</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">...</span>
</div>
<div class="main__channelList__program">
    <span class="main__channelList__program__title">...</span>
</div>







</section>
<section class="main__tv">

<div class="main__tv__top">
<div class="main__tv__top__screen">
<span class="main__tv__top__screen__title">PC 1</span>
</div>
<div class="main__tv__top__screen">
    <span class="main__tv__top__screen__title">PC 2</span>
</div>
<div class="main__tv__top__screen">
    <span class="main__tv__top__screen__title">PC 3</span>
</div>
<div class="main__tv__top__screen">
    <span class="main__tv__top__screen__title">PC 4</span>
</div>
<div class="main__tv__top__screen">
    <span class="main__tv__top__screen__title">IPTV</span>
    <span class="main__tv__top__screen__title">Player 1</span>
</div>
<div class="main__tv__top__screen">

        <span class="main__tv__top__screen__title">IPTV</span>
        <span class="main__tv__top__screen__title">Player 2</span>

</div>
<div class="main__tv__top__screen">

        <span class="main__tv__top__screen__title">IPTV</span>
        <span class="main__tv__top__screen__title">Player 3</span>

</div>
<div class="main__tv__top__screen">

        <span class="main__tv__top__screen__title">IPTV</span>
        <span class="main__tv__top__screen__title">Player 4</span>

</div>


</div>
<div class="main__tv__middle">

<div class="main__tv__middle__left">
    <div class="main__tv__middle__left__four">
        <div class="main__tv__middle__left__four__div"></div>
        <div class="main__tv__middle__left__four__div"></div>
        <div class="main__tv__middle__left__four__div"></div>
        <div class="main__tv__middle__left__four__div"></div>
    </div>
    <div class="main__tv__middle__left__one"></div>
</div>
<div class="main__tv__middle__middle">
    <div class="main__tv__middle__middle__one"></div>
    <div class="main__tv__middle__middle__four">
        <div class="main__tv__middle__middle__four__div"></div>
        <div class="main__tv__middle__middle__four__div"></div>
        <div class="main__tv__middle__middle__four__div"></div>
        <div class="main__tv__middle__middle__four__div"></div>
    </div>
</div>
<div class="main__tv__middle__right">
    <div class="main__tv__middle__right__left">
        <div class="main__tv__middle__right__left__div"></div>
        <div class="main__tv__middle__right__left__div"></div>
        <div class="main__tv__middle__right__left__div"></div>
        <div class="main__tv__middle__right__left__div"></div>
    </div>
    <div class="main__tv__middle__right__right">
        <div class="main__tv__middle__right__right__div"></div>
        <div class="main__tv__middle__right__right__div"></div>
        <div class="main__tv__middle__right__right__div"></div>
        <div class="main__tv__middle__right__right__div"></div>
    </div>
</div>


</div>
<div class="main__tv__bottom">

<div class="main__tv__bottom__btn">
    <span>Preset 1</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 2</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 3</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 4</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 5</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 6</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 7</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 8</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 9</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 10</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 11</span>
</div>
<div class="main__tv__bottom__btn">
    <span>Preset 12</span>
</div>




</div>







</section>







</main>