
<header class="header">

<div class="header__div">

<a class="header__div__a"  href="#"   >Main</a>
</div>
<div class="header__div">
    <a  class="header__div__a"      href="#">Floor Selection</a>
</div>
<div class="header__div">
    <a  class="header__div__a"        href="#">Room Selection</a>
</div>
<div class="header__div clock">
    <!-- <span class="header__div clock__left">
        <span class="clock__h1">29/</span><span class="clock__h1">03/</span><span>2022</span> 
    </span>
    <span class="header__div clock__right">
         <span>12:28</span>
    </span> -->
<span>30/03/2022</span>
<span>13:03</span>



</div>




</header>

